<div class="container" style="padding-top: 50px;">
  <div class="row">
    <div class="col-12">
      <div class="panel panel-login">
        <div class="panel-heading">
          <div class="row row-flex">
            <div class="col">
              <h3 style="font-weight: 700; color:#353535;"><i>Nueva Actividad</i></h3>
            </div>
          </div>
          <hr>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <div>
                <form name="new_activity" id="newactivity-form" ng-submit="new_activity.$valid && vm.submitActivity()" role="form"
                      style="display: block;" novalidate>
                  <div class="row">
                    <div class="col-xs-12 col-sm-6 col-lg-6 column">
                      <label for="description">Actividad</label>
                      <input type="text" name="description" class="form-control" id="description" ng-model="vm.new_activity.description" required>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-6 column">
                      <label for="price">Costo ($)</label>
                      <input type="text" name="price" class="form-control" id="price" ng-model="vm.new_activity.price" ng-pattern="/^[0-9]*$/" required>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-xs-12 col-sm-6 col-lg-6 column">
                      <label for="date">Día</label>
                      <datepicker date-format="mediumDate">
                      	<input ng-model="vm.new_activity.date" name="date" id="date" type="text"/>
                      </datepicker>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-6 column">
                      <label for="time">Hora</label>
                      <input type="text" name="time" class="form-control" id="time" ng-model="vm.new_activity.time"
                             ng-pattern="/^(?:([01]\d|2[0-3]):([0-5]\d))?$/"
                             ng-minlength="5"
                             ng-maxlength="5" required>
                    </div>
                  </div>
                  <br><br>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-xs-6">
                        <input type="submit"
                               name="new-activity-submit"
                               id="new-activity-submit"
                               tabindex="3"
                               class="form-control btn btn-login"
                               value="Crear"
                               ng-disabled="new-activity.$invalid">
                      </div>
                      <div class="col-xs-6">
                        <a ng-click="vm.goBack()" class="form-control btn btn-login">Volver</a>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>