<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div>
      <ul class="nav navbar-nav">
        <li><a href="#" ng-click="vm.goToActivities()">Actividades</a></li>
        <li><a href="#" ng-click="vm.goToClothing()">Indumentaria</a></li>
        <li><a href="#" ng-click="vm.goToSupps()">Suplementos</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-click="mainController.logout()" class="btn btn-navbar">Editar informacion</a></li>
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>
<div>
  <div>
    <nav class="navbar navbar-default custom-navbar">
      <div class="container-fluid">
        <div class="row row-style">
          <div class="col-xs-6 col-sm-3 col-lg-3 column-left">
            <ul class="nav navbar-nav float-left">
              <!--<li><a class="btn big-btn" ng-click="vm.toggleSidebar()"><strong>Filtrar</strong></a></li>-->
            </ul>
          </div>
          <div class="col-xs-6 col-sm-3 col-sm-offset-6 col-lg-3 col-lg-offset-6 column-right">
            <div align="right">
              <ul class="nav navbar-nav float-right">
                <li><a class="btn big-btn"><strong>Nuevo Suplemento</strong></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="container-fluid drivers-list">
      <div class="row" ng-if="vm.drivers.length === 0">
        <div class="col-xs-12">
          <h2 class="text-center">No se encontraron choferes.</h2>
        </div>
      </div>
      <div class="row row-style same-height">
        <div class="col-xs-12 col-sm-4 col-lg-3 column" ng-repeat="driver in vm.drivers">
          <div class="container-fluid driver-card-border driver-card-flex">
            <div class="driver-card-flex-left-column">
              <h4>{{driver.first_name}} {{driver.last_name}}</h4>
              <p>
                Telefono: {{driver.phone}} <br>
                DNI: {{driver.dni}} <br>
                Estado: {{driver.state.code}} <br> <br>
                <strong>Fecha:</strong> {{driver.contact_date}}
              </p>
            </div>
            <div class="driver-card-flex-right-column">
              <div class="driver-card-flex-right-item">
                <button class="btn btn-default custom-btn edit-button"
                        ng-click="vm.editDriver(driver.id)" title="Editar">
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

